* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.body {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 11vh;
    border-bottom: solid 1px rgb(199, 199, 199);
    padding: 0.5%;
}

.logo-container {
    width: 10vw;
}

.logo {
    font-size: 1.6rem;
    text-align: center;
}

.logo span {
    background-color: black;
    color: white;
    padding-left: 6%;
    padding-right: 6%;
}

.sign-in-container {
    display: flex;
    align-items: center;
    width: 15vw;
    gap: 5%;
}

.sign-in-container a {
    font-size: 0.8rem;
    font-weight: bold;
}

.menu-container {
    width: 50vw;
    display: inline-flex;
    align-items: center;
    gap: 5%;
}

.menu-container a {
    font-size: 0.8rem;
    font-weight: bold;
}

.search-box {
    padding: 7%;
    background-color: rgb(243, 239, 239);
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.main {
    width: 100vw;
    height: 100vh;
    /*background-color: aqua;*/
}

.section-wrapper {
    height: 610px;
    background-color: rgb(243, 243, 243);
    margin-top: 1%;
    display: flex;
    padding: 1%;
    justify-content: space-evenly;
    }

.welcome-message {
    padding-top: 1%;
    padding-left: 1%;
}

.column1 {
    width: 450px;
    height:250vh;
}

h2 {
    font-size: 1.8rem;
}

.live {
    color: teal;
    font-size: 1.8rem;
}

.column1 img {
    width: 450px;
    height: 255px;
}

.col2and3wrapper {
    width: 520px;
    height: 480px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.column2, .column3 {
    width: 250px;
    background-color: white;
}

.column2 img, .column3 img {
    width: 250px;
    height: 150px;
}

figcaption {
    padding: 2% 5%;
}

figcaption h3 {
    margin-bottom: 30px;
}

figcaption p {
    padding-bottom: 15px;
}

.column4 {
    height: 580px;
    background-color: white;
}

.top, .middle, .bottom {
    width: 250px;
    height: 145.5px;
    border-bottom: 10px solid rgb(243, 243, 243);
    padding: 5%;
    font-weight: bold;
}

.picture {
    width: 100%;
    background-color: magenta;
    background-image: url(images/footballstadium.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.picture img {
    max-width: 100%;
    height: 350px;
}