* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 100%;
    background-color: pink;
    display: block;
    /*grid-template-columns: 100vw 100vw 100vw 100vw 100vw;*/
    justify-content: space-between;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  header {
    width: 100vw;
    height: 15vh;
    background-color: white;
    grid-column: 1/span 5;
    display: flex;
    justify-content: space-between;
    color: black;
    padding-top: 1.5%;
    padding-left: 1%;
    padding-right: 1%;
  }

  .logo {
    font-size: 2rem;
    color: white;
    font-weight: 600;
  }

  .bbc-word {
    margin-right: 5%;
    border: 1px solid white;
    background-color: black;
    padding-right: 5%;
    padding-left: 5%;
  }

  .menu {
    font-size: larger;
    font-weight: 700;
  }
  
  main {
    height: auto;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding-top: 1%;
  }
  
  section {
    width: 100vw;
    height: auto;
    /*background-color: purple;*/
  }

  section .business-img-container {
    width: 100%;
    height: 250px;
    background-image: url(images/business.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }

    .live-word {
      color: teal;
    } 
    
    section h2 {
    color: black;
    margin-top: 2%;
  }

  article {
    width: 100vw;
    height: auto;
    background-color: white;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 10px;
  }

  .article-div {
    width: 230px;
    height: 200px;
    background-color: chartreuse;
  }

  /*.box {
    width: 100%;
    height: auto;
    background-color: chocolate;
  }*/

  .article-img {
    width: 100%;
    height: 150px;
  }

  aside {
    width: 100vw;
    height: auto;
    display: block;
    gap: 5%;
  }  
  
  .aside-div {
    width: 100%;
    height: 120px;
    border-bottom: 10px solid rgb(243, 243, 243);
    background-color: white;
    color: black;
  }

  aside h4 {
    padding: 8%;
  }
  
  footer {
    width: 100%;
    height: fit-content;
    background-color: orange;
  }

  .footer-img {
    width: 90vw;
    height: 30vw;
  }
  
 @media only screen and (min-width: 768px) {
    article, aside {
     width: 100vw;
    }
}

@media only screen and (min-width: 1200px) {
    section {
     width: 35vw;
    }
    article {
        width: 40vw;
    }
    aside {
        width: 18vw;
    }
}
